@model MVC_2019_09_04_Fluent_with_date.Log

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogItem.LogItemDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
