@model IEnumerable<MVC_2019_09_04_Fluent_with_date.LogItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogItemPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogItemPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
