@model MVC_FamilyApp_2019_11_02_Core_SQL.DailyLog

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DailyLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LogDate" class="control-label"></label>
                <input asp-for="LogDate" class="form-control" />
                <span asp-validation-for="LogDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="UpOnTime" /> @Html.DisplayNameFor(model => model.UpOnTime)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="StayedUp" /> @Html.DisplayNameFor(model => model.StayedUp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="MadeGym" /> @Html.DisplayNameFor(model => model.MadeGym)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PrWthFam" /> @Html.DisplayNameFor(model => model.PrWthFam)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PrWthZ" /> @Html.DisplayNameFor(model => model.PrWthZ)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CrsPryPhoto" /> @Html.DisplayNameFor(model => model.CrsPryPhoto)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PhilPryPhoto" /> @Html.DisplayNameFor(model => model.PhilPryPhoto)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CrsDeskPhoto" /> @Html.DisplayNameFor(model => model.CrsDeskPhoto)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NbrSns" class="control-label"></label>
                <input asp-for="NbrSns" class="form-control" />
                <span asp-validation-for="NbrSns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbrGrps" class="control-label"></label>
                <input asp-for="NbrGrps" class="form-control" />
                <span asp-validation-for="NbrGrps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymCardio" /> @Html.DisplayNameFor(model => model.GymCardio)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymWeights" /> @Html.DisplayNameFor(model => model.GymWeights)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymSprints" /> @Html.DisplayNameFor(model => model.GymSprints)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymChest" /> @Html.DisplayNameFor(model => model.GymChest)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymBack" /> @Html.DisplayNameFor(model => model.GymBack)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymLegs" /> @Html.DisplayNameFor(model => model.GymLegs)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymBicep" /> @Html.DisplayNameFor(model => model.GymBicep)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymTricep" /> @Html.DisplayNameFor(model => model.GymTricep)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymShoulders" /> @Html.DisplayNameFor(model => model.GymShoulders)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymClass" /> @Html.DisplayNameFor(model => model.GymClass)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymDips" /> @Html.DisplayNameFor(model => model.GymDips)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymPullUps" /> @Html.DisplayNameFor(model => model.GymPullUps)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GymPushUps" /> @Html.DisplayNameFor(model => model.GymPushUps)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NmbrPrtnScps" class="control-label"></label>
                <input asp-for="NmbrPrtnScps" class="form-control" />
                <span asp-validation-for="NmbrPrtnScps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SnkCln" /> @Html.DisplayNameFor(model => model.SnkCln)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="WlkRndOffc" /> @Html.DisplayNameFor(model => model.WlkRndOffc)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ScrptrOfThDy" /> @Html.DisplayNameFor(model => model.ScrptrOfThDy)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ScrptrOfThDyChrst" /> @Html.DisplayNameFor(model => model.ScrptrOfThDyChrst)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ScrptrOfThDyPhlp" /> @Html.DisplayNameFor(model => model.ScrptrOfThDyPhlp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ScrptrOfThDyJms" /> @Html.DisplayNameFor(model => model.ScrptrOfThDyJms)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ScrptrOfThDyJhn" /> @Html.DisplayNameFor(model => model.ScrptrOfThDyJhn)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ScrptrOfThDyHnnh" /> @Html.DisplayNameFor(model => model.ScrptrOfThDyHnnh)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
