@model MVC_FamilyApp_2019_11_02_Core_SQL.DailyLog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpOnTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpOnTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StayedUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StayedUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MadeGym)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MadeGym)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrWthFam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrWthFam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrWthZ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrWthZ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrsPryPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrsPryPhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhilPryPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhilPryPhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrsDeskPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrsDeskPhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbrSns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbrSns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbrGrps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbrGrps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymCardio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymCardio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymWeights)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymWeights)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymSprints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymSprints)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymChest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymChest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymBack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymBack)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymLegs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymLegs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymBicep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymBicep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymTricep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymTricep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymShoulders)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymShoulders)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymDips)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymDips)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymPullUps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymPullUps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GymPushUps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GymPushUps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NmbrPrtnScps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NmbrPrtnScps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SnkCln)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SnkCln)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WlkRndOffc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WlkRndOffc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScrptrOfThDy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScrptrOfThDy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScrptrOfThDyChrst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScrptrOfThDyChrst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScrptrOfThDyPhlp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScrptrOfThDyPhlp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScrptrOfThDyJms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScrptrOfThDyJms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScrptrOfThDyJhn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScrptrOfThDyJhn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScrptrOfThDyHnnh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScrptrOfThDyHnnh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DailyLogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
