@model IEnumerable<MVC_FamilyApp_2019_11_02_Core_SQL.DailyLog>
<h2>Daily Log Entries</h2>
<!-- #region Display User And Email Confirmed Status -->
<h2>
    Is User Authenticated?
    @{
        if (@ViewBag.isAuthenticated)
        { <span>Yes</span> }
        else
        { <span>No</span>}
    }
</h2>
<h2>
    Logged-In User is @ViewBag.username and this user has their email
    @{if (@ViewBag.emailConfirmed == true)
        {
        <span>confirmed</span>
        }
        else
        {
        <span>not yet confirmed</span>
        }
    }
</h2>
<h2>
    Authentication Type is @ViewBag.AuthenticationType
</h2>
<h2>
    Authentication Name is @ViewBag.Name
</h2>
<!-- #endregion Display User And Email Confirmed Status -->
<!-- #region Display Stats -->
<h2>Stats</h2>
<!-- #region Display Stats On Run Of Recent Form -->
<h3>Recent Form : Your Most Recent Run Of Form Missing Only One Day So Far Is @ViewBag.countofRecentFormMissingOnlyMaximumOneDay</h3>
<!-- #endregion Display Stats On Run Of Recent Form  -->
<!-- #region Display Stats On Last 7 Days -->
<h3>
    Number of successful getting up properly in last 7 days is @ViewBag.countUpOnTimeInLast7Days / 7 which is a percentage of @ViewBag.percentageUpOnTimeInLast7Days%.
    @{
        if (@ViewBag.countUpOnTimeInLast7Days == 7)
        {
        <span>  This means in the last 7 days you have been <strong>perfect!</strong></span>
        }
        else if (@ViewBag.countUpOnTimeInLast7Days == 6)
        {
        <span>  This is almost perfect!  Nearly there!  We can do better!!!  Well done !!!</span>
        }
        else
        {
        <span>  Keep going and we can get up there!!!  It is possible to serve the living God and obey Him fully so press in and don't be discouraged!!!</span>
        }
        <span>  Target is 6 or 7 days out of 7!!!!  That means 12, 13 or 14 days out of the last 14!</span>
    }
</h3>
<!-- #endregion Stats On Last 7 Days-->
<!-- #region Display Stats On Last 14 Days -->
<h3>
    Number of successful getting up properly in last 14 days is @ViewBag.countUpOnTimeInLast14Days / 14 which is a percentage of @ViewBag.percentageUpOnTimeInLast14Days%.
    @{
        if (@ViewBag.countUpOnTimeInLast14Days >= 12)
        {
        <span>  Amazing !!! Well done !!! This is really excellent !!!!</span>
        }
        else if (@ViewBag.countUpOnTimeInLast14Days >= 10)
        {
        <span>  Pretty good !!! But partial obedience is still not obedience !!! Press through all of the lies and press towards the prize for the higher calling in Christ!!!  God is looking for devoted servants who will serve Him night and day</span>
        }
        else
        {
        <span>  We can do better!</span>
        }
        <span>  Target is 12, 13 or 14 days out of 14!!! Press in!!!</span>
    }
</h3>
<!-- #endregion Stats On Last 7 Days-->
<!-- #region Stats On Last 30 Days -->
<h3>
    Number of successful getting up properly
    on time in the last 30 days : @ViewBag.upOnTimeInLast30Days which is
    @ViewBag.percentageUpOnTimeInLast30Days % success rate!
</h3>
@if (ViewBag.above70PercentUpOnTimeInLast30Days)
{
<h3>Doing really well - keep it up!!! More than 70% success rate!</h3>
}
else
{
<h3>
    Can improve this!  Target initially is a 70% hit rate of successful getting up on time!
    Although long term is much higher than this!
</h3>
}
<!-- #endregion -->
<!-- #region all time percentage success-->
<h3>
    All time percentage success for all records since the start of time is @ViewBag.AllTimePercentageSuccess%
</h3>
<!-- #endregion -->
<!-- #region GymStats -->
<h3>Gym Stats</h3>
<p>Gym stats in last 7 days are @ViewBag.madeGymLast7Days/7 which is @ViewBag.percentageGymLast7Days%</p>
<p>Gym stats in last 14 days are @ViewBag.madeGymLast14Days/14 which is @ViewBag.percentageGymLast14Days%</p>
<p>Gym stats in last 30 days are @ViewBag.madeGymLast30Days/30 which is @ViewBag.percentageGymLast30Days%</p>
<p>Target is 4 days out of 7, 8 days out of 14 or 18 days out of 30</p>
<!-- #endregion GymStats -->
<!-- #region Messing Around With Passwords -->
<h3>
    Raw Base64 Password Hash String From The Database is @ViewBag.Base64HashStraightFromDatabase
</h3>
<h3>
    Converted to byte array this yields @ViewBag.passwordStringFromRawByteArray
</h3>
<h3>
    First Byte is @ViewBag.FirstByte which means it's the latest version of hashing
</h3>
<h3>
    ... more on this exciting topic later!
</h3>
<!-- #endregion -->
<!-- #region ExtraComments-->
<h3>To Do : Convert into a database!</h3>
<p>Send Smson an email</p>
<p>Buy one Spreadshirt this week</p>
<p>Build randomisation of database ideas into this page</p>
<p>BattlePhil </p>
<h3>Ideas</h3>
<p>Most efficient use of time - praying on stair master or running machine!</p>

<h3>
    Family Peace
</h3>
<p>
    'Sh' with my finger and wait 10 seconds.  Have peace in the meetings.  Never argue in front of the group.
</p>
<h3>
    Family Management - Meetings
</h3>
<p>
    Thought for mum - If you promise to speak no words then I will promise to keep the meeting below five minutes
</p>
<h3>
    Presentation Of The Gospel
</h3>
<p>
    Why don't you set out to present the 'worst' ever presentation of the Gospel?  Then you can't complain if it's bad!  I think you'll do really good actually at presenting really well so don't be afraid of perfection - aim for the worst possible presentation of the Gospel and you will achieve far higher.
</p>

<!-- #endregion Extra Comments-->
<!-- #region New Log -->
<p>
    <a asp-action="Create">Create New</a>
</p>
<!-- #endregion New Log -->
<!-- #region Display Logs -->
<table class="table">
    <!-- #region Table Header -->
    <thead>
        <tr>
            <th>
                Day
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpOnTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StayedUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MadeGym)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrWthFam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrWthZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrsPryPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhilPryPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrsDeskPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbrSns)
            </th>
            <th></th>
        </tr>
    </thead>
    <!-- #endregion Table Header -->
    <!-- #region Table Body -->
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @{  @item.LogDate.ToString("ddd"); }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpOnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StayedUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MadeGym)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrWthFam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrWthZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrsPryPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhilPryPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrsDeskPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbrSns)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DailyLogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DailyLogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DailyLogId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
    <!-- #endregion Table Header -->
</table>
<!-- #endregion Display Logs -->
<!-- #endregion Display Stats -->
