@model Customer;

@{
}


<hr />
<a asp-controller="Home" asp-action="">Home</a>


{
    <p>@Model.CustomerID</p>
    <p>@Model.ContactName</p>
    <p>@Model.Address</p>
    <p>@Model.City</p>
    <p>@Model.Country</p>
}


