@model FamilyApp_2019_10_12.DadDailyItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DadDailyItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DadDailyItemId" />
            <div class="form-group">
                <label asp-for="TodaysDate" class="control-label"></label>
                <input asp-for="TodaysDate" class="form-control" />
                <span asp-validation-for="TodaysDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="UpOnTime" /> @Html.DisplayNameFor(model => model.UpOnTime)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GetEarlyTrain" /> @Html.DisplayNameFor(model => model.GetEarlyTrain)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CallPhilip550" /> @Html.DisplayNameFor(model => model.CallPhilip550)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CallChrista550" /> @Html.DisplayNameFor(model => model.CallChrista550)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="WorkAtFinsburyPark" /> @Html.DisplayNameFor(model => model.WorkAtFinsburyPark)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HitTheGym" /> @Html.DisplayNameFor(model => model.HitTheGym)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
